body{
    text-align: center;
}
.box{
    height: 120px;
    width: 120px;
    border: 8px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgb(120, 113, 113);
    
}
.box-container{
    display: grid;
    grid-template-columns: repeat(2,170px);
    grid-template-rows: repeat(2,150px);
    justify-content: center; 
    gap: 20px;
    margin-top: 30px;
}
.one{
    background-color: rgb(108, 108, 194);
}
.two{
    background-color: rgb(209, 78, 78);
}
.three{
    background-color: rgb(243, 143, 61);
}
.four{
    background-color: rgb(220, 20, 60);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: greenyellow;
}
